div.post {
    background: #dddddd none repeat scroll 0 0;
    border: 1px solid #cccccc;
    border-radius: 2px;
    max-width: 900px;
    padding: 1px 3px 3px;
    margin: 4px 0;
    display: table
}

div.op_post-wrapper {
    max-width: 900px;
    padding: 1px 3px 3px;
    margin: 4px 0;
    display: table
}


div.op_post {
    border: 1px solid #cccccc;
    border-radius: 1px;
    margin: 4px 0;
    max-width: 600px;
    display: table
}

div.open_topic {
    padding: 1px 3px 3px;
    margin: 4px;
    display: table
}

* {
    box-sizing: border-box;
}

div.img {
    float:left;
    margin: 4px 20px 0px 0px;
    overflow: hidden;
}

blockquote {
    display: block;
}

div.post-wrapper {
    padding: 4px;
    padding-right: 10px;
}

html, body {
    background-color: #EEEEEE;
    color: #333333;
    font-family: Verdana,sans-serif;
    font-size: 1em;
}
